.recipe-card {
  border: 1px solid var(--GRAY_100);
  width: var(--CARD_WIDTH);
  gap: 1.25rem;
  border-radius: 8px;
  overflow: hidden;
}

.recipe-card.large {
  width: 80% !important;
  border: unset !important;
  align-items: flex-start !important;
}

.chens {
  gap: 1rem;
}

.chens div {
  gap: 0.25rem;
}

.card-title {
  color: var(--PRIMARY_BLACK);
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 0.5rem;
}

.card-title.large {
  font-size: 40px !important;
  font-weight: 700 !important;
  margin: 1rem 0;
}

.desc {
  color: var(--GRAY_700);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.chens div small {
  color: var(--GRAY_700);
  font-size: 14px;
  font-weight: 400;
}

.tag-wrapper {
  gap: 0.5rem;
  margin-top: 2rem;
}

.tag-wrapper .tag {
  background-color: var(--BLUE_100);
  color: var(--BLUE_600);
  border-radius: 4px;
  padding: 2px 8px;
  height: 24px;
  font-size: 14px;
}

.btns-container {
  position: relative;
  top: 50px;
  gap: 1rem;
}
.btn {
  display: inline-flex;
  align-items: center;
  gap: .25rem;
}
.btn.outline {
  background-color: unset !important;
  border: 1px solid var(--PRIMARY_GREEN);
  color: var(--PRIMARY_GREEN);
  margin-left: .5rem;
}
@media(max-width: 992px) {
  .recipe-card img.rec-img {
    height: 120px;
    width: 120px;
  }
  .card-title {
    font-size: 18px;
    line-height: 24px;
  }
  .recipe-card.large {
    width: 100% !important;
  }
  .large {
    flex-direction: column;
  }
  .large img.rec-img {
    width: 100%;
    height: 360px !important;
  }
  .btns-container {
    top: unset;
    padding: 2rem 0 0 0;
  }
}