.sidebar {
  height: calc(100% - var(--SIDEBAR_TOP_HEIGHT));
  width: var(--SIDEBAR_WIDTH);
  height: 100%;
  display: inline-block;
  vertical-align: top;
}
.sidebar-responsive {
  display: none;
}
.sidebar .bottom-bar {
  height: 100%;
  background-color: var(--GRAY_50);
  padding: 1rem;
  margin-top: 0.5rem;
}

.bottom-bar ul li {
  transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}
.li-title {
  color: var(--GRAY_600);
  font-weight: 500;
  font-size: 16px;
}
.bottom-bar ul li:hover small,
.bottom-bar ul li.selected small {
  color: var(--PRIMARY_GREEN);
}

.bottom-bar footer {
  position: absolute;
  bottom: 30px;
}

@media (max-width: 992px) {
  .sidebar {
    display: none;
  }
  .sidebar-responsive {
    display: block;
    background-color: var(--GRAY_50);
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    bottom: 20px;
    padding: 12px 20px;
    border-radius: 32px;
    height: 72px;
  }
}
