.banner {
  background-color: var(--GRAY_100);
  height: var(--BANNER_HEIGHT);
  margin-top: 3rem;
  padding: 2rem;
  border-radius: 12px;
}

.banner-texts,
.banner-dish {
  max-width: 50%;
}

.banner-dish {
  height: 302px;
  margin-top: -30px;
}

.banner-texts button {
}

.banner-texts h1 {
  color: var(--PRIMARY_BLACK);
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

@media (max-width: 992px) {
  .banner {
    flex-direction: column;
    position: relative;
  }
  .banner-texts {
    max-width: 60%;
  }
  .banner-dish {
    height: 200px;
    max-width: auto;
    position: absolute;
    right: 0;
    bottom: -40px;
  }

  .banner-texts h1 {
    font-size: 20px;
    line-height: 32px;
  }
}
@media (max-width: 500px) {
  .banner-texts {
    max-width: 80%;
  }
  .banner-dish {
    height: 150px;
  }
  .banner {
    padding: 1rem;
  }
}
